# Vídeos pesados locais
assets/video/*.mp4
assets/video/*.webm
assets/video/*.mov
assets/video/*.avi
!assets/video/README.md
!assets/video/.gitkeep

# Diretórios temporários do ambiente
~
.DS_Store
Thumbs.db
